.Details-outer {
    display: flex;
    justify-content: center;
    padding: 3%;
}

.Details-inner {
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    /* border: 2px solid red; */
    box-shadow: 5px 5px 10px #c0bebe;
    border-radius: 1rem;
    /* padding: 3%; */
    width: 55rem;
}

.Details-input-outer {
    padding: 5%;
    display: flex;
    justify-content: space-between;
    /* border: 2px solid black; */
    border-bottom: none;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    /* flex-direction: column; */
    /* align-items: center; */
}

.Details-input-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    /* margin-right: 15px; */
}

.Details-input-right {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Details-input-text {
    font-size: 1.35rem;
    font-weight: 500;
    /* padding: 0px 20px; */
}

.Details-input-text-outer {
    width: 100%;
    display: flex;
    justify-content: left;
    margin-top: 1rem;
    margin-bottom: 1rem;

}

.Details-hr {
    margin-top: 1.5rem;
    border-top: 0.25rem dashed rgb(120, 116, 116);
    width: 95%;
}

.Details-dialog-box {
    margin-top: 1rem;
    padding: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Details-back-to-cart {
    cursor: pointer;
    display: flex;
    width: 100%;
    justify-content: left;
}

.Cart-back-option {
    display: flex;
    justify-content: left;
    align-items: center;
}

.Cart-back-option-content {
    margin-left: 1.5rem;
    font-size: 2rem;
    font-weight: 500;
}