.Cart-outer {
    padding: 5%;
    display: flex;
    flex-direction: column;
}

.Cart-back-option {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 10px;
    cursor: pointer;
}

.Cart-back-option-content {
    margin-left: 1.5rem;
    font-size: 2rem;
    font-weight: 500;
}

.Cart-items-outer {
    /* border: 2px solid black; */
    box-shadow: 5px 5px 10px #c0bebe;
    border-radius: 1rem;
    padding: 2%;
    margin-top: 2rem;
    display: flex;
    justify-content: left;
}

.Cart-items-Outer {
    /* border: solid; */
    box-shadow: 5px 5px 10px #c0bebe;
    margin-top: 3rem;
    border-radius: 1rem;
}

.Cart-items-outer1 {
    /* border: 2px solid black; */
    /* box-shadow: 5px 0px 10px #c0bebe; */
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding: 2%;
    display: flex;
    justify-content: left;
}


.Card-items-title-content {
    font-size: 1.5rem;
    font-weight: 500;
    margin-left: 0.5rem;
}

.Card-items-title {
    border-left: 0.2rem solid black;
    height: 1.5rem;
    align-items: center;
    display: flex;
    margin: 0.7rem;
    /* height: fit-content; */

}

.Item-middle-outer {
    margin-left: 0.5rem;
}

.Item-inner {
    width: 100%;

}

.Item-dish {
    margin-right: 1rem;
}

.Item-dish-name {
    text-transform: capitalize;
}

.Card-item-inner {
    width: 100%;
}

.Cart-btn {
    display: flex;
    align-items: center;
}

@media screen and (max-width:320px) {
    .Item-dish{
        /* background-color: red;
         */
        font-size: 0.5rem;
        background-color: red;
    }
}